.alert.alert-success
  Mail has been delivered.
  
.progress.progress-striped
  #delivery-bar.bar-success.bar{ style: "width: 100%;" }

= link_to "Send another mail", mailer_path, class: "btn btn-primary btn-large"